/* GENERAL */
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 10.5rem!important;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #399bd1;
}

h4 {
  font-weight: bold;
  font-size: 1.4rem;
}

a.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 20rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
  font-size: 2rem;
}

a.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

a.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: 0.5s, 0.5s;
}

.image-container img:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}

/* HEADER */
header {
  font-weight: bold;
}

header .navbar-nav a.active {
  color: #399bd1;
}

header .navbar-nav a.active:focus {
  background-color: #e7e7e7;
}

header .navbar-nav a {
  color: #777;
}

header .navbar-nav a:focus {
  color: black;
}

header .navbar-nav li {
  display: inline-block;
  padding: 15px;
}

/* The side navigation menu */
.sidenav {
  background-color: #154854;
  font-family: monospace;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  text-shadow: -1.2px -1.2px 0 #F0AC0F, 1.2px -1.2px 0 #F0AC0F, -1.2px 1.2px 0 #F0AC0F, 1.2px 1.2px 0 #F0AC0F;
  top: 51px;
  transition: 0.5s;
  width: 0;
  z-index: 3;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .navbar-header {
  text-align: center;
  width: 100%;
}

.sidenav .navbar-header a {
  padding-right: 0;
  padding-left: 0;
}

.sidenav .navbar-header img {
  width: 25px;
  margin: 0 15px 3px 0;
}

.sidenav .navbar-bottom {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 67px;
  padding-top: 10px;
  border-top: 3px solid white;
}

.sidenav .navbar-bottom a {
  padding: 20px 0;
}

.sidenav .navbar-bottom p {
  margin-top: 10px;
}

.sidenav .navbar-bottom img {
  width: 30%;
  padding-top: 10px;
}

.closed-nav {
  background-color: #154854;
  border-top: 1px solid white;
  border-left: 1px solid white;
  bottom: 0;
  float: right;
  font-weight: bold;
  height: 100px;
  opacity: 0.8;
  position: fixed;
  right: 0;
  text-align: center;
  width: 90px;
  z-index: 2;
}

.closed-nav span {
  color: white;
  display: block;
  font-family: monospace;
  font-size: 70px;
  line-height: 1.25;
}

/* JUMBOTRON */
.jumbotron {
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: -1.2px -1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000;
  padding: 13.8rem 0;
}

.jumbotron p {
  margin-left: auto;
  margin-right: auto;
  max-width: 51.3rem;
  height: 142px;
  padding: 20px 0;
  font-size: 2.4rem;
}

.jumbotron br {
  display: none;
}

.background-bike {
  background-image: url("../images/jumbotron_bike.jpg");
}

.background-beer {
  background-image: url("../images/jumbotron_beer.jpg");
}

.background-flowers {
  background-image: url("../images/jumbotron_flowers.jpg");
}

.background-duffel {
  background-image: url("../images/jumbotron_duffel.jpg");
}

/* FEATURED */
#featured img {
  margin: 0 auto;
}

#featured .image-container {
  padding: 15px;
}

#featured .list h4 {
  color: #399bd1;
}

#featured .list li {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4;
}

/* PROJECTS */
#projects {
  padding-bottom: 20px;
}

#projects img {
  margin: 0 auto;
}

#projects .box {
  padding: 15px 0;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #f3f3f3;
  padding: 5.2rem 0;
}

footer h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.4rem;
}

@media only screen and (max-width: 1024px) {
  body {
    text-align: center;
  }

  header ul.navbar-nav {
    text-align: center;
    display: inline-block;
    float: none!important;
    font-size: 1.7rem;
    width: 100%;
  }

  header .navbar-nav li {
    display: inline-block;
    width: 32%;
    font-size: 1.8rem;
  }

  header .navbar-brand {
    display: none;
    width: 100%;
    border-top: 2px solid #e7e7e7;
  }

  header .navbar-brand img {
    margin: 0 auto;
  }

  .sidenav {
    top: 56px;
  }

  .jumbotron br {
    display: inline;
  }
}

@media only screen and (max-width: 767px) {
  header .navbar-nav li {
    font-size: 15px;
  }

  .sidenav {
    top: 67px;
  }

  .sidenav .navbar-bottom {
    bottom: 70px;
  }

  .closed-nav {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4.5rem!important;
  }

  header .navbar-nav li {
    font-size: 1.3rem;
  }

  .sidenav {
    top: 64px;
  }

  .jumbotron {
    padding: 15rem 0 8rem;
  }

  .jumbotron p {
    font-size: 1.8rem;
    margin: 0;
  }

  .jumbotron a.btn {
    font-size: 1.5rem;
    margin: 0;
  }

  #featured .info {
    text-align: left;
  }

  #projects .text {
    padding-bottom: 15px;
  }

  footer {
    padding: 10px 0;
  }

  footer a.btn {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
