/* GENERAL */

body {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  background-color: black;
  opacity: 0.9;
  color: white;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
}

/* NAVBAR */

header .navbar {
  background-color: black;
  height: 69px;
  border-bottom: 2px solid seashell;
  margin: 0;
}

header .navbar .container-fluid {
  height: 100%;
}

header .navbar .navbar-header {
  width: 300px;
  height: 69px;
}

header .navbar .navbar-header a.navbar-brand {
  padding: 0;
  margin: 3% 20%;
}

header .navbar .navbar-header img {
  height: 50px;
}

header .navbar .navbar-right {
  margin: 0.85% 5%;
}

header .navbar .navbar-right a {
  color: white;
}

/* JUMBOTRON */

#main .jumbotron {
  background-image: url("../images/mission-background.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  margin-top: 69px;
}

#main .main-text {
  background-color: black;
  padding: 25px;
  margin: 24rem -15px;
}

#main .main-text h1 {
  font-size: 5rem;
  margin: 0;
}

#main .main-text p {
  padding: 10px 0 0;
  margin: 0;
}

/* FEATURED */

#featured .container {
  padding: 20px 0;
}

#featured img {
  width: 90%;
}

#featured p {
  padding: 10px 0 20px;
}

/* LOCATIONS */

#locations .container {
  font-size: 1.5rem;
  background-image: url("../images/locations-background.jpg");
  background-position: center;
  padding: 0 0 120px;
}

#locations h1 {
  padding: 20px;
}

#locations .col-sm-8 {
  background-color: black;
  padding: 20px;
  line-height: 2;
}

/* CONTACT */

#contact h1 {
  padding: 20px;
}

#contact .phone {
  padding: 20px;
}

/* FOOTER */

footer {
  text-align: left;
  padding-left: 20px;
}
