/* GENERAL */
body {
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
}

/* NAVBAR */
.navbar {
  background-color: black;
  height: 110px;
  margin: 0;
  border: 0;
}

.navbar .navbar-header {
  width: 100%;
  margin: auto 0;
}

.navbar a.navbar-brand {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.navbar .navbar-brand img {
  margin: 0 auto;
}

/* JUMBOTRON */
#main .jumbotron {
  background-image: url("../images/mission-background.jpg");
  background-size: cover;
  background-position: center;
  height: auto ;
}

#main .main-text {
  background-color: black;
  padding: 25px;
  margin: 16rem -15px;
}

#main .main-text p {
  padding: 10px;
}

/* TEA OF THE MONTH */
#month .container {
  padding: 20px 0;
}

#month img {
  width: 90%;
}

#month p {
  padding: 10px 0 20px;
}

/* LOCATIONS */
#locations .container {
  background-image: url("../images/locations-background.jpg");
  background-position: center;
  padding-bottom: 20px;
}

#locations h1 {
  padding: 10px;
}

#locations .col-sm-8 {
  background-color: black;
  padding: 20px;
  margin: 20px;
  line-height: 2;
  min-height: 220px;
}
