* {
  font-family: Helvetica;
  }

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 50px;
  margin-top: 100px;
}

p {
  font-size: 30px;
  font-weight: bold;
}

li {
  font-size: 30px;
  font-weight: bold;
}

a {
  font-size: 30px;
  font-style: italic;
}

span {
  display: inline-block;
  padding-right: 30px;
}

.left {
  text-align: left;
}

.body {
  background-image: url("./body.jpg");
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 25px;
  opacity: 0.9;
}

.footer {
  background-image: url("./footer.jpg");
  background-size: cover;
  padding: 55px 60px;
}
