* {
  font-family: Helvetica;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

nav {
  padding-left: 1300px;
  padding-right: 50px;
  position: absolute;
  background-color: green;
  left: 60px;
}

nav li {
  text-align: right;
}

header {
  position: absolute;
  top: 17px;
  left: 90px;
}

footer p {
  font-size: 13px;
}

.banner {
  color: white;
}

.me img {
  width: 250px;
  height: 200px;
}

.container {
  padding-top: 120px;
}

.example {
  display: inline-block;
  padding: 30px;
  border: 5px solid green;
}

.example img {
  height: 300px;
  weight: 300px;
}

.me,
.text {
  display: inline-block;
}

.me {
  padding-right: 75px;
}

.text {
  position: relative;
  bottom: 120px;
}

.text h1,
.text p {
  text-align: left;
  font-family: inherit;
}
