body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-weight: bold;
}

/* General - Text */
h1, h2 {
  font-family: 'Righteous', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  margin: 5px 0 20px;
}

p {
  font-size: 2rem;
}

/* General - Images */
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: 0.75s, 0.75s;
}

.image-container img:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}

/* General - Backgrounds */
.yellow-background {
  background-color: #fff986;
  padding: 20px;
  margin: 0 3% 30px 3%;
}

/* Navbar */
header .navbar-default {
  background-color: #fff986;
  border: 0;
  border-bottom: 5px solid darkred;
  border-radius: 0;
  margin: 0;
}

header .navbar-header .navbar-brand {
  color: #154854;
}

header .navbar-header button {
  background-color: #154854;
}

header .navbar-header .navbar-toggle:focus {
  background-color: #154854;
}

header .navbar-collapse {
  font-size: 1.7rem;
}

header .navbar-collapse.in {
  border-top: 3px solid darkorange!important;
}

header .navbar-collapse .dropdown .dropdown-toggle {
  color: #154854;
}

header .navbar-collapse .phone {
  display: none;
  text-align: right;
}

header .navbar-collapse .phone li {
  display: inline-block;
  padding: 5px 15px;
}

header .navbar-collapse .phone a {
  color: #154854;
}

/* Jumbotron */
.jumbotron {
  background-color: #154854;
  color: white;
}

.jumbotron .logo-container {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-right: 60px;
}

.jumbotron .text-container {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
}

.jumbotron .arrow-row {
  height: 0px;
}

.jumbotron a {
  padding: 70px 25px 0 25px;
}

.jumbotron img.arrow-down {
  width: 5%;
  position: relative;
  bottom: 45px;
}

/* Sections */
section {
  margin: 25px 0;
}

/* Technical-skills */
#technical-skills img {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}


/* Portfolio */
#portfolio a {
  color: #154854;
}

/* Contact */
#contact img {
  width: 10%;
  padding: 5px 0;
}

#contact .github .yellow-background {
  background-color: #AB1919;
}

#contact a {
  color: #154854;
}

/* Footer */
footer {
  font-family: 'Cutive Mono', monospace;
  background-color: #154854;
  color: white;
  padding: 20px;
}

footer .footer-arrow {
  height: 0;
}

footer .footer-arrow a {
  padding: 25px;
}

footer .footer-arrow img {
  width: 5%;
  margin-top: -10px;
}

footer h5 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-weight: normal;
  }

  .jumbotron .logo-container {
    margin-right: 0;
  }

  .jumbotron .arrow-row {
    height: 50px;
  }

  .jumbotron img.arrow-down {
    width: 7%;
    position: relative;
    top: 20px;
  }

  footer .footer-arrow img {
    width: 7%;
  }
}

@media only screen and (max-width: 767px) {
  header .navbar-collapse .desktop {
    display: none;
  }

  header .navbar-collapse .phone {
    display: block;
  }

  #contact .col-sm-6 {
    padding: 10px;
  }

  #contact .email img {
    display: inline-block;
  }

  #contact .email p {
    display: inline-block;
    padding: 10px;
  }

  .jumbotron .text-container {
    width: auto;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  #contact img {
    width: 20%;
  }
}
