body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* General - Headings */
h1, h2, h4 {
  font-weight: bold;
}

h1, h2 {
  font-family: 'Righteous', cursive;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  text-align: left;
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}

.yellow-container {
  background-color: #fff986;
  width: 100%;
}

/* General - Images */
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: 0.5s, 0.5s;
}

.image-container img:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}

/* Navbar */
.navbar-default {
  background-color: #fff986;
  border: #fff986;
  margin: 0;
  font-family: monospace;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
  color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav li a:hover {
  color: #154854;
}

.navbar-header.navbar-brand img {
  height: 100%;
  margin-bottom: 5px;
}

.navbar-header .navbar-text p {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-collapse {
  border: 0;
}

/* Main */
.jumbotron {
  background-color: #154854;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.jumbotron .logo-container {
  width: 40%;
}

.jumbotron .logo-container,
.jumbotron .text-container,
.code-icon {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

/* SEO */
.seo li {
  font-size: 2.3rem;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.seo li.gray {
  background-color: lightgray;
}

.seo li.less-text {
  font-size: 3rem;
}

/* Web developer */
.code-icon {
  width: 50%;
}

/* Footer */
footer {
  font-family: monospace;
  background-color: #154854;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    margin-top: 145px;
  }
}
