body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-weight: bold;
}

/* General - Text */
h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Chivo', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: monospace;
  font-weight: 300;
  font-size: 20px;
  opacity: 0.95;
  margin: 5px 0 20px;
}

p {
  font-size: 2rem;
}

/* General - Images */
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: 0.75s, 0.75s;
}

.image-container img:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}

/* General - Backgrounds */
.yellow-background {
  background-color: #F0AC0F;
  background-image: linear-gradient(to left, white, #F0AC0F, white);
  box-shadow: 5px 7px 15px 9px #113F57;
  border-radius: 10px;
  padding: 20px;
  margin: 0 3% 30px 3%;
}

/* Navbar */
header .navbar-default {
  background-color: white;
  background-image: linear-gradient(to top, #F0AC0F 5%, white);
  border: 0;
  border-radius: 0;
  margin: 0;
}

header .navbar-header .navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #113F57;
}

header .navbar-header button {
  background-color: #113F57;
}

header .navbar-header .navbar-toggle:focus {
  background-color: #113F57;
}

header .navbar-collapse {
  font-size: 1.7rem;
}

header .navbar-collapse.in {
}

header .navbar-collapse .dropdown a.dropdown-toggle {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #113F57;
}

header .navbar-collapse .dropdown.open a.dropdown-toggle {
  background-color: white;
  background-image: linear-gradient(to top, #113F57, white, #113F57);
}

header .navbar-collapse .dropdown.open li {
  padding: 5px 0;
}

header .navbar-collapse .dropdown.open li.divider {
  padding: 0;
}

header .navbar-collapse .desktop a.smooth-scroll:hover {
  font-family: 'Montserrat Alternates', sans-serif;
  box-shadow: 5px 7px 15px 9px #113F57;
}

header .divider {
  display: none;
}

header .navbar-collapse .phone {
  display: none;
  text-align: center;
}

header .navbar-collapse .phone li {
  display: inline-block;
  padding: 5px 15px;
}

header .navbar-collapse .phone a {
  color: black;
}

/* Jumbotron */
.jumbotron {
  background-color: #113F57;
  color: white;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.jumbotron .text-container {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.jumbotron h1 {
  margin: 0;
  font-size: 41px;
  text-align: center;
}

/* Sections */
section {
  margin: 30px 0;
}

/* Technical-skills */
#technical-skills img {
  opacity: 0.95;
  display: inline-block;
  vertical-align: middle;
}

#technical-skills .section {
  margin: 10px 0;
  opacity: 0.9;
}

/* Portfolio */
#portfolio h3 {
  padding: 10px 0;
  margin: 3px 0 10px 0;
}

#portfolio h3:hover {
  text-decoration: underline;
}

#portfolio .pre-portfolio {
  padding: 0;
}

#portfolio .portfolio-box {
  background-color: #113F57;
  padding: 0;
  border: 7px solid #113F57;
  border-radius: 7px;
  margin: 0 20px;
  opacity: 0.8;
}

#portfolio .portfolio-box h3 {
  color: white;
}

#portfolio .tablet {
  display: none;
}

#portfolio .tablet .box {
  padding: 0;
  border: 5px solid #113F57;
}

#portfolio .tablet img {
  height: 150px;
}

/* Contact */

#contact .container {
  opacity: 0.9;
}

#contact p {
  margin: 0;
}

#contact a {
  color: #113F57;
}

#contact img {
  width: 10%;
  padding: 5px 0;
}

#contact form {
  margin-top: 4px;
}

#contact input {
  width: 381px;
}

#contact .email p {
  font-size: 2.2rem;
  display: inline-block;
}

#contact p.tip {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
}

#contact p.data {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  background-color: #113F57;
  background-image: linear-gradient(#113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57, #F0AC0F, #113F57);
  color: white;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 0 #000;
  width: fit-content;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 15px;
}

#contact .others li {
  list-style-type: ;
}

/* Footer */
footer {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  background-color: #113F57;
  color: white;
  padding: 20px;
}

footer h5 {
  font-size: 1.5rem;
}

footer li {
  margin-top: 10px;
}

footer .text-left a {
  color: #F0AC0F;
}

footer .text-right a {
  color: #F0AC0F;
}

footer .arrow a {
  padding: 25px;
}

footer .arrow img {
  width: 50px;
}

footer .tablet {
  display: none;
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-weight: normal;
  }

  header a.smooth-scroll {
    font-size: 1.3rem;
    font-weight: bold;
  }

  header .divider {
    display: block;
  }

  #technical-skills h3 {
    font-size: 20px;
    margin: 8px 0 0;
  }

  #portfolio h3 {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  header .navbar-collapse .desktop {
    display: none;
  }

  .jumbotron .text-container {
    width: auto;
  }

  .jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
  }

  #portfolio .pre-portfolio {
    margin: 5px 0;
  }

  #contact p.data {
    margin: 10px 0 0;
  }

  footer .arrow img {
  }
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 1.5rem;
  }

  header a.navbar-brand {
    font-size: 15px;
  }

  .jumbotron {
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-size: 28px;
  }

  #technical-skills {
    margin: 15px 0;
  }

  #technical-skills h2 {
    margin-bottom: 15px;
  }

  #technical-skills h3 {
    display: none;
  }

  #portfolio {
    margin: 15px 0;
  }

  #portfolio h2 {
    margin-bottom: 15px;
  }

  #portfolio h3 {
    display: none;
  }

  #contact {
    margin: 15px 0;
  }

  #contact h2 {
    margin-bottom: 15px;
  }

  #contact p.tip {
    font-size: 1.8rem;
  }

  #contact p.data {
    font-size: 1.4rem;
    margin: 0;
  }

  footer .desktop {
    display: none;
  }

  footer .tablet {
    display: block;
  }

  footer .tablet li {
    font-size: 1.5rem;
  }
}
