body {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  text-align: left;
}

/* Navbar */
.navbar-default {
  background-color: #154854;
  border: #154854;
  margin: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav li a:hover {
  color: #fff986;
}

.navbar-header.navbar-brand img {
  height: 100%;
  margin-bottom: 5px;
}

.navbar-header .navbar-text p {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Main */
.jumbotron {
  background-color: #fff986;
  text-align: center;
  color: black;
  margin-top: 50px;
}

.jumbotron .image-container {
  width: 40%;
}

.jumbotron .image-container,
.jumbotron .text-container {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

footer {
  background-color: #E6E7F0;
  padding: 20px;
}
