/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 1.2rem;
}


.center {
  text-align: center;
}

.button {
  border-radius: 0.25rem;
  background-color: #154854;
  color: white;
}

.button img {
  width: 40%;
}

.button p {
  color: white;
}

.image-container img {
  display: block;
  width: 100%;
  height: 65%;
}

.image-container-fil {
  overflow: hidden;
}

.image-container-fil img {
  display: block;
  width: 100%;
  height: 100%;
}

/* HEADER */

header {
  position: fixed;
  z-index: 50;
  padding: 10px;
  width: 100%;
  border-bottom: solid 3px black;
  background-color: white;
}

header img {
  height: 25px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 0 1.875rem;
}

header .logo {
  font-family: "Rubik", sans-serif;
  flex: 1;
}

header .logo h2 {
  color: #4a4a4a;
  display: inline-block;
  position: relative;
  top: -4px;
  right: 3px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1.25rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

header .tablet {
  display: none;
}

.main-content {
  position: relative;
  top: 51px;
}

#features {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 50;
  width: 90%;
  padding: 4rem 5%;
}

.feature {
  flex: 1;
  padding: 2rem 2rem 0rem 2rem;
  margin: 0px 1.25rem;
  background-color: white;
  border-radius: 25px;
}

.feature .image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#features img {
  border-radius: 10px;
}

#features h2 {
  color: #4a4a4a;
  font-weight: bold;
  padding-bottom: 1.2rem;
}

#features h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

#features .content {
  height: 9.1875rem;
  padding: 2.5rem 0;
}

/* SIGN UP SECTION */

#sign-up-section {
  align-content: center;
  width: auto;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 10.625rem;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 1rem;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  border-radius: 10px;
}


/* FILTER SECTION */

#filter {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filter .content {
  padding: 0 .625rem;
  margin-bottom: 3rem;
}

#filter .content h2 {
  color: white;
  font-weight: bold;
  padding-bottom: 1rem;
}

#filter .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filter .images-container {
  max-width: 100%;
  padding: 0 1%;
  display: flex;
}

/* QUOTE SECTION */

#quote {
  background-color: #f3f3f3;
}

#quote .content {
  padding: 5rem 0;
}

#quote span {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

/* FOOTER */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
}

footer .copyright {
  flex-grow: 1;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1180px) {
  #quote span {
    display: inline-block;
    width: 70%;
  }

  #quote img {
    display: inline-block;
  }
}

@media only screen and (max-width: 890px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
    padding: 0;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  #features .content {
    padding-bottom: 0;
  }

  #features h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: bold;
  }

  #features h3 {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    top: 2.5625rem;
    overflow: hidden;
  }

  header

  #filter {
    padding: 1.5rem 0;
  }

  #filter .content {
    margin-bottom: 1rem;
  }

  #filter .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filter .content h3 {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  #filter .extra {
    display: none;
  }

  #quote .content {
    padding: 1.875rem .625rem;
  }

  footer .content {
    font-size: .625rem;
  }
}

@media only screen and (max-width: 642px) {
  header {
    height: 3rem;
  }

  header .content {
    padding: .5rem 0;
  }

  header .desktop,
  header .tablet {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #features .content {
    height: auto;
    padding: 1rem;
  }

  #features .content h2 {
    padding-bottom: .5rem;
  }

  #quote span {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 543px) {
  #quote img {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  #features {
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  #features .feature {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
    border-radius: 0;
  }

  #features .content {
    text-align: center;
    height: auto;
    padding-bottom: 1.875rem;7
  }

  #features .content h2 {
    font-weight: normal;
  }

  #filter .image-hide {
    display: none;
  }

  #quote span {
    text-align: center;
    width: 80%;
  }

  footer .content span {
    display: block;
  }
}
