/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#features-section, #filters-section, #quotes-section, footer {
  position: sticky;
  z-index: 1;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 9;
}

header a {
  color: #4a4a4a;
  line-height: 1.6;
}

header .navbar-brand {
  line-height: 1.6;
  border-bottom: 2px solid #007bff;
  border-radius: 6px;
  margin: 0;
}

header .navbar {
  height: 85px;
  padding: 0 15px;
}

header .navbar-nav {
  display: inline-block;
}

header .navbar-nav li {
  display: inline-block;
  margin-left: 30px;
}

header .navbar-nav li img {
  margin: 4px;
}

header .navbar-nav .tablet {
  background-color: #007bff;
  display: none;
  border-radius: 8px;
  padding: 2px 4%;
  font-weight: 600;
}

header .phone {
  display: none;
}

/* The side navigation menu */
.sidenav {
  background-color: #154854;
  border-left: 1px solid white;
  font-family: monospace;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  text-shadow: -1.2px -1.2px 0 #F0AC0F, 1.2px -1.2px 0 #F0AC0F, -1.2px 1.2px 0 #F0AC0F, 1.2px 1.2px 0 #F0AC0F;
  top: 67px;
  transition: 0.5s;
  width: 0;
  z-index: 3;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .navbar-header {
  text-align: center;
  width: 100%;
}

.sidenav .navbar-header a {
  padding-right: 0;
  padding-left: 0;
}

.sidenav .navbar-header img {
  width: 25px;
  margin: 0 15px 3px 0;
}

.sidenav .navbar-bottom {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 67px;
  padding-top: 10px;
  border-top: 3px solid white;
}

.sidenav .navbar-bottom a {
  padding: 20px 0;
}

.sidenav .navbar-bottom p {
  margin-top: 10px;
}

.sidenav .navbar-bottom img {
  width: 30%;
  padding-top: 10px;
}

.closed-nav {
  background-color: #154854;
  border-top: 1px solid white;
  border-left: 1px solid white;
  bottom: 0;
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 100px;
  opacity: 0.8;
  position: fixed;
  right: 0;
  text-align: center;
  width: 90px;
  z-index: 2;
}

.closed-nav span {
  color: white;
  display: block;
  font-family: monospace;
  font-size: 70px;
  line-height: 1.25;
}

/* Banner-section */
.jumbotron {
  background-image: url("../images/banner-landingpage.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0;
  padding: 170px 100px;
  position: sticky;;
  top: 5.3125rem; /* To offset for fixed header. */
  z-index: 0;
}

#sign-up-cta {
  background-image: linear-gradient(45deg, #007bff, #fd7e14);
  border: solid 1px white;
  border-radius: 10px;
  padding: 0 80px 56px;
  width: fit-content;
}

#sign-up-cta .content {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 2rem;
  width: 25.625rem;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
  margin: 0;
}

#sign-up-cta a {
  display: block!important;
}

#sign-up-cta a:hover {
  text-decoration: none;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

#sign-up-cta .button:hover {
  color: #007bff;
}

/* Features Section */
#features-section {
  padding: 4rem 5%;
  background-color: #f3f3f3;
  position: sticky;
  z-index: 1;
}

#features-section .feature {
  padding: 2rem;
  background-color: white;
  border-right: 19px solid #f3f3f3;
  border-left: 19px solid #f3f3f3;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

#features-section .row {
  width: 100%;
  padding: 20px 0;
  margin: 0!important;
}

#features-section .image-container {
  width: 100%;
  height: 65%;
  margin: 0 auto;
}

#features-section img {
  width: 100%;
  height: 100%;
}

#features-section h2 {
  border-bottom: 3px solid #007bff;
  border-radius: 15px;
  color: #4a4a4a;
  font-size: 26px;
  font-weight: bold;
  padding: 22px 0 10px;
}

#features-section h3 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 17px;
}

/* Filters Section */
#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
  font-family: "Roboto", sans-serif;
}

#filters-section .content {
  padding: 0 .625rem;
  margin: 0 0 40px 0;
  display: block;
  width: 100%;
}

#filters-section .content h2 {
  color: white;
  font-size: 34px;
  font-weight: bold;
}

#filters-section .content h3 {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

#filters-section .images {
  width: 100%;
  margin: 0;
  padding: 0 1%;
}

#filters-section .image-container {
  padding: 0;
}

#filters-section img {
  width: -webkit-fill-available;
}

/* Quotes Section */
#quotes-section {
  background-color: #f3f3f3;
  padding: 80px 0;
}

#quotes-section .content {
  width: 100%;
  padding: 0 40px;
  margin: 0;
}

#quotes-section .quote {
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
  padding: 0 15px 0 0;
}

#quotes-section .col-sm-2 {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

#quotes-section .quote-citation {
  width: auto;
  height: auto;
}

/* Footer */
footer {
  background-color: #9b9b9b;
  padding: 22px 30px!important;
  font-family: "Roboto", sans-serif;
}

footer .content {
  color: white;
  font-size: .75rem;
}

footer .location {
  float: right;
}

@media only screen and (max-width: 768px) {
  /* Header */
  header .navbar-brand {
    border-bottom: 3px solid #007bff;
    border-radius: 20px;
    padding: 7px 0 3px;
    text-align: center;
    width: 100%;
  }

  header .navbar-nav {
    width: 100%;
    text-align: center;
  }

  header .navbar-nav li {
    margin: auto 3.4%;
  }

  header .navbar-nav .tablet {
    display: inline-block;
  }

  /* Banner-section */
  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    background-image: none;
    padding: 0;
  }

  #sign-up-cta .content {
    margin-top: 0;
    width: 100%;
    text-shadow: -1.2px -1.2px 0 #fd7e14, 1.2px -1.2px 0 #007bff, -1.2px 1.2px 0 #fd7e14, 1.2px 1.2px 0 #007bff;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 40px;
  }

  #sign-up-cta h2 {
    font-size: 35px;
  }

  #features-section {
    padding: 0;
  }

  #features-section .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
    border-right: 10px solid #f3f3f3;
    border-left: 10px solid #f3f3f3;
  }

  #features-section .feature h2 {
    border-bottom: 2px solid #007bff;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.3;
    padding: 22px 0 8px;
  }

  #features-section .feature h3 {
    font-size: 14px;
    line-height: 1.4;
    padding: 0 10px 15px 10px;
  }

  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: .625rem;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #quotes-section {
    padding: 45px 0;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }

  footer .content {
    font-size: .625rem;
  }
}

@media only screen and (max-width: 575px) {
  header .navbar-nav {
    padding-top: 3px;
  }

  header .navbar-nav li {
    margin: auto 2.7%;
  }

  header .navbar-nav a.nav-item {
    font-size: 14px;
  }

  header .navbar-nav .nav-item img {
    margin: 0 0 0 3px;
  }

  #features-section .row {
    padding: 0;
  }

  #features-section .feature {
    border: 0;
    border-bottom: 7px solid #4a4a4a;
    border-radius: 0;
  }

  #filters-section .row {
    display: block;
    padding: 0;
    text-align: center;
  }

  #filters-section .image-container {
    display: inline-block;
    width: 30%;
  }

  #filters-section .extra {
    display: none;
  }

  #quotes-section span.quote {
    font-size: 23px;
  }
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .phone {
    display: block;
    height: 48px;
    padding: 2.5px 0 0;
  }

  header .phone .navbar-nav li {
    line-height: 2;
    margin: auto 5%;
  }

  .sidenav {
    top: 48px;
  }

  .jumbotron {
    padding: 140px 50px;
    top: 49px;
  }

  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  #filters-section .extra {
    display: none;
  }

  #quotes-section span.quote {
    padding: 0;
    font-size: 21px;
  }

  footer span {
    font-size: 8px;
  }
}
